QMainWindow
{
    color: #EAEAEA;
    background: #5C5C5C;
}

QDialog
{
    color: #EAEAEA;
    background: #999999;
}

QWidget
{
    color: #EAEAEA;
    background: #222222;
}

QMenuBar
{
    background: #313131;
}

QMenuBar::item
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

QMenuBar::item:selected
{
    color: #EAEAEA;
    border-radius: 1px;
    background: #3e3e3e;
}

QMenu
{
    margin: 0px;
    background: #2f2f2f;
}

QMenu::item
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
}

QMenu::item:selected
{
    padding-right: 0px;
    background: #1e1e1e;
    border: 1px solid #3873d9;
}

QToolBar
{
    border: 0px;
}

QPushButton {
    padding: 4px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #3873d9;
}

QPushButton:disabled {
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #c9c9c9, stop: 1 #a6a6a6);
    border: 1px solid gray;
}

QPushButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
}

QScrollBar {
    background: #909090;
}

QLabel#ProgressLabel {
    margin-left: 25px;
}

QSpinBox,
QDoubleSpinBox {
    padding-right: 15px;
    min-height: 16px;
    border: 1px solid #7c7c7c;
    border-radius: 2px;
    padding: 2px;
}

QSpinBox:focus,
QDoubleSpinBox:focus {
    border: 1px solid #3873d9;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;

    max-height: 3px;
    width: 16px;
    border-radius: 1px;
    border: 1px solid #7c7c7c;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 1px;
}

QSpinBox::up-button:focus,
QDoubleSpinBox::up-button:focus {
    border: 1px solid #3873d9;
}

QSpinBox::up-button:pressed,
QDoubleSpinBox::up-button:pressed {
}

QSpinBox::up-arrow,
QDoubleSpinBox::up-arrow {
    color: red;
}

QSpinBox::up-arrow:disabled,
QSpinBox::up-arrow:off,
QDoubleSpinBox::up-arrow:disabled,
QDoubleSpinBox::up-arrow:off{
}

QSpinBox::down-button,
QDoubleSpinBox::down-button{
    subcontrol-origin: border;
    subcontrol-position: bottom right;

    max-height: 2px;
    width: 16px;
    border-radius: 1px;
    border: 1px solid #7c7c7c;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 1px;
}

QSpinBox::down-button:focus,
QDoubleSpinBox::down-button:focus {
    border: 1px solid #3873d9;
}

QSpinBox::down-button:pressed,
QDoubleSpinBox::down-button:pressed {
}

QSpinBox::down-arrow,
QDoubleSpinBox::down-arrow {
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off,
QDoubleSpinBox::down-arrow:disabled,
QDoubleSpinBox::down-arrow:off {
}
